
@font-face {
  font-family: "koruri";
  src: url("/fonts/Koruri-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    /* margin: 0 auto; */
    color: #FFF;
    background: #303030;
    font-family: "Koruri";
}

/*----ヘッダー-------------------------------------------------------- */

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
    opacity: 0.7;
}

h1 a:hover {
    opacity: 1;
}


header {
    background: #1A1A1A;
}

menu {
    display: flex;
    gap: 64px;
    align-items: center;
}

menu > h3 {
    cursor: pointer;
}

menu > h3:hover {
    opacity: .7;
}

#menu_container {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    display: none;
}

#menu_container.appear {
    display: flex;
}

.detail_window {
    z-index: 3;
    text-align: center;
    width: 70%;
    background: #303030;
    max-height: 85vh;
    overflow-y: auto;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.menu_window {
    z-index: 1;
    text-align: center;
    width: 95%;
    background: #303030;
    max-height: 85vh;
    overflow-y: auto;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* ヘッダーメニューのwindow内画像説明のフォントサイズ */
.header_img p{
    font-size: 12px;
    color: #bbb;
}


/*----リスト-------------------------------------------------------- */

.rindo {
    background: #303030;
}

select {
    border-radius: 10px;
}

form h5 {
    font-size: 18px;
}

#result {
    height: 75vh;
    overflow-y: scroll;
    background: #404040;
    border-radius: 16px;
}

#result_list {
    list-style: none;
    padding-left: 0;
}

#result_list li{
     border-bottom: 1px solid #303030;
}

#result_list li::before {
    content: ' - ';
}

#result_list li:hover {
    background: #1A1A1A;
}

#sort_reset {
    border-radius: 8px;
}

#sort_reset:hover {
    opacity: .9;
}

/* スマホのホバーなし */
@media (hover: none) and (pointer: coarse) {
  #result_list li:hover {
    background: initial;
  }
  #sort_reset:hover {
    opacity: initial;
  }
}

li.no_data {
    border-bottom: 0px !important;
    font-size: 14px;
    margin-top: 16px;
    text-align: center;
}
li.no_data::before {
    content: '' !important;
}
li.no_data:hover {
    background: none !important;
}

.spot_name {
    cursor: pointer;
}

.spot_name.selected {
    color: red;
}

/*----詳細ページとInfoWindow------------------------------------------------------- */

#detail_container {
    z-index: 3;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    display: none;
}

.detail_container {
    max-width: 55%;
    margin: 0 auto;
}

#detail_container.appear {
    display: flex;
}

.info_window {
    background: #303030;
    position: relative;
}

#detail_close,
#menu_close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
}

#detail_close:hover {
    opacity: .7;
}

.info_window {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.info_window_img {
    width: 300px;
    height: auto;
}


/*----スワイパー-------------------------------------------------------- */

.swiper {
    width: 70%;
     height: auto;
}

.swiper-wrapper img {
    width: 80%;
}

.swiper-pagination-bullets {
  position: static;
  margin-top: 16px;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  margin: 0 0 0 10px !important;
  background: #fff !important;
}

.swiper-button-prev,
.swiper-button-next {
    color: #FFF;
}

/*----データリセット-------------------------------------------------------- */

#map_reset {
    opacity: .9;
    cursor: pointer;
    font-size: 12px;
}

#map_reset:hover {
    opacity: .7;
}

.data_reset {
    width: 40% !important;
    text-align: left;
}

.data_reset_btn {
    text-align: center;
    border-radius: 24px;
}

.data_reset_btn button {
    border-radius: 8px;
}

/*----メールフォーム-------------------------------------------------------- */

.mail_form {
    max-width: 600px;
}
.modal-dialog{
    margin-top: 15vh;
}
.modal-content {
    background: #303030;

}
.modal-header,
.modal-footer {
    border: none;
}
.modal-title {
    font-size: 1.8rem;
}
.modal_img {
    max-width: 100%;
    height: auto;
}

/*----MD以下での表示-------------------------------------------------------- */

@media (max-width: 767px) {
    #map {
        height: 52vh;
    }

    .rindo {
        height: 40vh;
    }

    header {
        height: 8vh;
    }

    #result {
        height: 26vh;
        overflow-y: scroll;
    }

    .detail_window {
        width: 95%;
    }

    .detail_container {
    max-width: 95%;
    }

    .swiper {
        width: 100%;
        height: auto;
    }

    .swiper-wrapper img {
        width: 100%;
    }

    .sp_menu  {
        width: 75%;
        margin: 0 auto;
    }

    .info_window_img {
        width: 200px;
        height: auto;
    }

    .header_images {
        max-width: 100%;
    }

    .data_reset {
        width: 95% !important;
    }
}


/*----ロード画面アニメーション(CSS Spinner)-------------------------------------------------------- */

#loader_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    z-index: 999;
}

#loader_container p {
  margin-top:48px;
}

.loader {
  color: #fff;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em,
    2em -2em 0 0em, 3em 0 0 -1em,
    2em 2em 0 -1em, 0 3em 0 -1em,
    -2em 2em 0 -1em, -3em 0 0 -1em,
    -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
    3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
    -2em 2em 0 -1em, -3em 0 0 -1em,
    -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em,
    2em -2em 0 0, 3em 0 0 0.2em,
    2em 2em 0 0, 0 3em 0 -1em,
    -2em 2em 0 -1em, -3em 0 0 -1em,
    -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
     -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
     -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
     3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
     -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
    3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
    -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
    3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
    -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

